.header {
  width: calc(13rem + 4vw);
  height: 100vh;
  background-color: #10ac84;
  border-radius: 0 3rem 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;

  &__logo {
    font-family: "Mochiy Pop P One", sans-serif;
    letter-spacing: 0.3rem;
    margin-top: 5rem;
    span {
      color: #ccc;
    }
  }

  &__nav {
    height: 50%;
    margin-top: 5rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  &__link {
    list-style-type: none;
    a {
      display: flex;
      color: #fff;
      text-decoration: none;
      font-size: 1.3rem;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      i {
        margin-right: 1rem;
      }
    }
  }
  &__link.header__link--active {
    a {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__signout {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-top: 8rem;
    cursor: pointer;
    p {
      margin-left: 1rem;
    }
  }
}
